@import "context";

*, *:before, *:after {
  box-sizing: inherit;
}

body {

  padding-top: 50px;

  .panel-gradebook {
    width: 350px;
    .sparkline {
      margin-left: 10px;
      float: right;
    }
  }

  .list-group-item {
    @include context(list-group-item);
  }
}
